.accordion-button {
    background-color: #4267B2;
    color: #000000;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border-style: hidden;
    width: 20em;
}
.accordion{
    margin-top: 9em;
}
.accordion-body{
    background-color: blueviolet;
    color: blue;
}

.app-home-page{
    background-color: #4267B2;
    color: #000000;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border-style: hidden;
    width: 20em;
}

.background {
    background-image: url('assets/sky-clouds.webp');
    background-size: cover;
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100%; /* Set the width to 100% */
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    border: 0;
}

