.accordion-button {
    background-color: #4267B2;
    color: #000000;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border-style: hidden;
    width: 20em;
}
.accordion{
    margin-top: 9em;
}
.accordion-body{
    background-color: blueviolet;
    color: blue;
}

.app-home-page{
    background-color: #4267B2;
    color: #000000;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border-style: hidden;
    width: 20em;
}

