<div ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>First</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <app-weather-lookup></app-weather-lookup>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>second</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <app-image-input></app-image-input>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>second</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <!--combos suggestion component-->
        </div>
      </div>
    </div>
  </div>