<app-card-ui>
  <app-card-item-ui
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    (onClick)="fileInput.click()"
  >
    Drop your image folder
  </app-card-item-ui>
  <label id = "label"> or</label>
  <div>
    <input type="file" (change)="onChange($event)" #fileInput style="display: none">
    <button class="explorer-button" (click)="fileInput.click()">choose images here</button>
  </div>
  <app-card-item-ui *ngIf="bundledData">
    <img src="../../assets/checkmark.pn" alt="checkmark">
  </app-card-item-ui>
</app-card-ui>